/* .container {
  max-width: 300px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
} */
.container{min-height :300px; 
  width: 400px;
  padding: 30px;
  overflow: auto ;
  border: 3px;
  margin: 30px auto;

}
.todo list {
  height: 40px;
  width: 100%;
}
.my input{
  height: 10 px;
  
  background-color: rgb(234, 234, 221);
  color: rgb(27, 6, 6);
}
.even {
  height: 40px;
  width: 100%;
  background-color: rgb(174, 181, 179);
  color: black;
}
.odd {
  height: 40px;
  width: 100%;
  background-color: rgb(91, 81, 81);
}
.remove-button {
  background-color: brown;
  color: rgb(17, 17, 16);
  font-weight: bold;
  cursor: pointer;
}
.add-button {
  background-color: rgb(84, 139, 108);
  color: rgb(18, 17, 17);
  cursor: pointer;
  
  font-weight: bold;
}
.button {
  cursor: pointer;
  background-color: blanchedalmond;
  color: rgb(42, 3, 3);
}
