.container {
  display: flex;
  
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 50px;
}
table{
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 0%;
}
.todo list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  margin: auto;
}
tr {
  height: 50px;
  text-align: left;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;

}
td {
  margin-left: 20px;
  margin-right: 0;
}


input{
  flex-grow: 0.5;
  padding: 13px;
  font-size: 16.5px;
  background-color: rgb(171, 167, 163);
  color: rgb(7, 6, 6);
}
::placeholder{
  color: black;
}
.even {
  height: 50px;
  width: 100%;
  background-color: rgb(174, 181, 179);
  color: black;
}
.odd {
  height: 50px;
  width: 100%;
  background-color: rgb(91, 81, 81);
}
.input-group{
display: flex;
justify-content: center;
height: 50px;
padding-bottom: 9px;
}
.remove-button {
  background-color: brown;
  color: rgb(17, 17, 16);
  font-weight: bolder;
  cursor: pointer;
  
}
.add-button {
  background-color: rgb(84, 139, 108);
  color: rgb(18, 17, 17);
  cursor: pointer;

  font-weight: bold;
}
.button {
  cursor: pointer;
  background-color: rgb(114, 97, 73);
  color: rgb(42, 3, 3);
}
.is-done {
  text-decoration: line-through;
}
